.gym-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #f2f4fa;
}

.ex-container{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
}

.dashboard-container{
    background-color: white;
}

@media screen and (max-width: 1365PX) {
    .ex-container {
        grid-template-columns: repeat(2, 1fr);
    }
}